@import url('http://fonts.cdnfonts.com/css/cascadia-code');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cascadia Code', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}


