@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", sans-serif !important;
  min-height: 100vh;
  background-color: #fff;
}

body {
  background-color: rgba(0, 0, 0, 0) !important;
}

a {
  color: rgb(0, 146, 199) !important;
  text-decoration: none !important;
}

.color-shadow {
  position: relative;
  transform-style: preserve-3d;
  border-radius: 40px;
  background-color: black;
  margin: 100px;
}
.color-shadow::before {
  content: "";
  position: absolute;
  inset: -5px;
  transform: translate3d(0px, 10px, -1px);
  background: conic-gradient(
    from 90deg at 40% -25%,
    #ffd700,
    #f79d03,
    #ee6907,
    #e6390a,
    #de0d0d,
    #d61039,
    #cf1261,
    #c71585,
    #cf1261,
    #d61039,
    #de0d0d,
    #ee6907,
    #f79d03,
    #ffd700,
    #ffd700,
    #ffd700
  );
  filter: blur(40px);
}
.gradient-h1 {
  background-image: linear-gradient(
    rgb(0, 183, 250) 25%,
    rgb(1, 207, 234) 100%
  );
  background-clip: text;
  color: transparent !important;
  font-weight: 500;
}

.gradient {
  color: #232e38 !important;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.6px;
  transform: scale(1, 0.98);
}

.float-card {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.float-card img {
  object-fit: cover;
  height: 175px;
}

.float-card:hover {
  top: -5px;
}

.heading {
  padding: 0px 48px !important;
}

@media (max-width: 800px) {
  .col-md-4 {
    margin-bottom: 100px;
  }
  .me {
    display: block;
    margin-left: auto !important;
    margin-right: auto;
    width: 80% !important;
  }
  .gradient-h1 {
    margin-top: 60px;
  }
}
